<img src="assets/images/CallMiner-Logo.png" alt="Callminer Logo" height="500px" width="500px">

<div>
  <form>
    <input type="submit" value="Load Profile">
    <input type="text" id="loadProfile" name="loadProfile"><br>
    <input type="submit" value="Session Metadata"><br />
    <input type="submit" value="Session History"><br />
    <input type="submit" value="Select Environment">
    <input type="text" id="selectEnvironment" name="selectEnvironment"><br>
    <input type="submit" value="Create Profile"><br /><br />
    <button class="btn btn-primary" (click)="progressOutput.component.html">Run</button>
  </form>
</div>
