<img src="assets/images/CallMiner-Logo.png" alt="Callminer Logo">
<h1>Metadata Dialog</h1>

<div>
  <form>
    <br>
    <br>
    <label for="enterKey">Enter Key:</label>
    <input type="text" id="keyEntry" name="keyEntry">
    <button class="btn btn-okayKey" (click)="counter.component.html">OKAY</button><br>
    <br>
    <br>
    <label for="enterValue">Enter Value:</label>
    <input type="text" id="valueEntry" name="valueEntry">
    <button class="btn btn-okayValue" (click)="counter.component.html">OKAY</button><br>
    <br>
    <br>
    <button class="btn btn-removeMetadata" (click)="counter.component.html">Remove Metadata</button><br>
    <br>
    <br>
    <button class="btn btn-addMetadata" (click)="counter.component.html">Add Metadata</button><br>
    <br>
    <br>
    <style>
      table, th, td {
        text-align: center;
        border: 1px solid black;
        border-collapse: collapse;
      }

      th, td {
        padding: 15px;
      }
    </style>
    <table style="width:50%">
      <tr>
        <th colspan="7">Added Metadata</th>
      </tr>
      <tr>
        <th>Agent ID</th>
        <th>Department</th>
        <th>State</th>
        <th>Agent Group</th>
        <th>Location</th>
        <th>Audio Language</th>
        <th>Audio Format</th>
      </tr>
      <tr>
        <td>Random()</td>
        <td>Random()</td>
        <td>Florida</td>
        <td>Random()</td>
        <td>Random()</td>
        <td>Random()</td>
        <td>Random()</td>
      </tr>
      <tr>
        <td>Random()</td>
        <td>Random()</td>
        <td>Texas</td>
        <td>Random()</td>
        <td>Random()</td>
        <td>Random()</td>
        <td>Random()</td>
      </tr>
    </table>
    <br>
    <br>
    <button class="btn btn-submitChanges" (click)="counter.component.html">Submit Changes</button>
    <br>
    <br>
  </form>
</div>
