<html ng-app="metadataApp">

<head>

  <style>
    ul li{
      list-style-type:none;
    }

  </style>

</head>
<body ng-controller="metadataCtrl">
<img src="assets/images/CallMiner-Logo.png" alt="Callminer Logo">
<h1> Metadata Dialog</h1>
  <form ng-submit="metadataAdd()">

    <input type="text" class="form-control" placeholder= " Enter name here...." ng-model="metadataInput" />
    <input type="submit" value="Add" class="btn btn-success" />

  </form>
  <div class="form-control">
  <div class="form-control">

    <ul ng-repeat="x in metadataList">
      <li>
        <input type="checkbox"/> <span>{{x.metadataText}}</span>
      </li>

    </ul>

  </div>
  <button class="btn btn-danger"> Delete </button>

</body>
</html>

<script>

  var app = angular.module("metadataApp", []);

  app.controller("metadataCtrl", function ($scope) {

    $scope.metadataList = [{ metadataText: 'florida', done: false }];

    $scope.metadataAdd = function () {
      $scope.metadataList.push({ metadataText: $scope.metadataInput, done: false });
      $scope.metadataInput = "";
    };
    
    });

  

</script>
