

<div class="fetchData">

  <h1> Metadata Dialog</h1>
 
</div>

<div class="row">
  <div class="column">
    <label for="Key">Please Enter A Key:</label>
    <input type="text" [(ngModel)]="inputTxtKey" placeholder="Key">
    <button class="btn btn-primary" (click)="addToListKey()"> Add Key </button>


    <ul style="list-style-type:none;">
      <li *ngFor="let key of arrListKey; let i = index" (click)="removeKeyItem(i)">
        <label>{{key}}</label>
        <button class="btn btn-primary" (click)="removeItem(i)"> X </button>
      </li>
    </ul>
  </div>
  <div class="column">
    <label for="Value">Please Enter A Value:   </label>
    <input type="text" [(ngModel)]="inputTxtVal" placeholder="Value">
    <button class="btn btn-primary" (click)="addToListVal()"> Add Value</button>

    <ul style="list-style-type:none;">
      <li *ngFor="let val of arrListVal; let i = index" (click)="removeValItem(i)">
        <label>{{val}}</label>
        <button class="btn btn-primary" (click)="removeValItem(i)"> X </button>
      </li>
    </ul>
  </div>
</div>
  <button class="btn btn-primary"> Submit Changes </button>
