<div class="foreground">
  <form>
    <button class="btn btn-primary" routerLink="/home-page">Load Profile</button>
    <input type="text" id="loadProfile" name="loadProfile" placeholder="Profile Name"><br><br />
    <button class="btn btn-primary" routerLink="/metadata-dialog">Session Metadata</button><br />
    <br />
    <button class="btn btn-primary" routerLink="/history">Session History</button>
    <br /><br />
    <button class="btn btn-primary" routerLink="/home-audio">Select Audio</button><br />
    <br />
    <button class="btn btn-primary" routerLink="/metadata-environment">Select Environment</button>
    <input type="text" id="selectEnvironment" name="selectEnvironment" placeholder="Environment name">
    <br><br />
    <button class="btn btn-primary" routerLink="/profile">Create Profile</button><br />
    <br /><br />
    <button class="btn btn-primary" routerLink="/output">Run</button>
  </form>
</div>
