<div class="foreground">
  <button class="btn btn-primary" routerLink="/environment"> Load Environment </button>
  <input type="text" id="loadEnv" name="loadEnv" placeholder="Profile Name"><br><br />
  <button class="btn btn-primary" routerLink="/environment"> Create Environment </button>
  <br />
  <br />
  <button class="btn btn-primary" routerLink="/environment"> Update Environment </button>
  <br />
  <br />
  <button class="btn btn-primary" routerLink="/profile"> Submit Changes </button>
</div>
