<div class="foreground">
  <table class="display">
    <tr class="display">
      <th class="data">Session ID</th>
      <th class="data">Details</th>
      <th class="data">Export Session Information</th>
    </tr>
    <tr class="display">
      <td class="data">1</td>
      <td class="data"><button class="btn btn-primary" routerLink="/output"> More Details </button></td>
      <td class="data"><button class="btn btn-primary" routerLink="/output"> Export .txt </button></td>
    </tr>
    <tr class="display">
      <td class="data">2</td>
      <td class="data"><button class="btn btn-primary" routerLink="/output"> More Details </button></td>
      <td class="data"><button class="btn btn-primary" routerLink="/output"> Export .txt </button></td>
    </tr>
    <tr class="display">
      <td class="data">3</td>
      <td class="data"><button class="btn btn-primary" routerLink="/output"> More Details </button></td>
      <td class="data"><button class="btn btn-primary" routerLink="/output"> Export .txt </button></td>
    </tr>
    <tr class="display">
      <td class="data">4</td>
      <td class="data"><button class="btn btn-primary" routerLink="/output"> More Details </button></td>
      <td class="data"><button class="btn btn-primary" routerLink="/output"> Export .txt </button></td>
    </tr>
    <tr class="display">
      <td class="data">5</td>
      <td class="data"><button class="btn btn-primary" routerLink="/output"> More Details </button></td>
      <td class="data"><button class="btn btn-primary" routerLink="/output"> Export .txt </button></td>
    </tr>
    <tr class="display">
      <td class="data">6</td>
      <td class="data"><button class="btn btn-primary" routerLink="/output"> More Details </button></td>
      <td class="data"><button class="btn btn-primary" routerLink="/output"> Export .txt </button></td>
    </tr>
    <tr class="display">
      <td class="data">7</td>
      <td class="data"><button class="btn btn-primary" routerLink="/output"> More Details </button></td>
      <td class="data"><button class="btn btn-primary" routerLink="/output"> Export .txt </button></td>
    </tr>
  </table>
  <br />
  <table>
    <th><button class="btn btn-primary" routerLink="/home-page"> Home </button></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th><button class="btn btn-primary" routerLink="/output"> Save Profile </button></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th><button class="btn btn-primary" routerLink="/"> Logout </button></th>
  </table>

</div>
