<div class="foreground">
  <button class="btn btn-primary" routerLink="/metadata-environment"> Load Environment </button>
  <input type="text" id="loadEnv" name="loadEnv" placeholder="Environment Name"><br><br />
  <button class="btn btn-primary" routerLink="/hmetadata-environment"> Create Environment </button>
  <br><br />
  <button class="btn btn-primary" routerLink="/metadata-environment"> Update Environment </button>
  <br><br />
  <button class="btn btn-primary" routerLink="/home-page"> Submit Changes </button>
</div>
