

<div class="metadataDialog">

  <h1> Metadata Dialog</h1>

  <h2> Please enter a Key and Value</h2>

  <input type="text" [(ngModel)]="inputTxtKey" placeholder="Key">
  <input type="text" [(ngModel)]="inputTxtVal" placeholder="Value">
  <button class="btn btn-primary" (click)="addToList()"> Add </button>

</div>

<ul style="list-style-type:none;">

  <li *ngFor="let keyVal of arrList; let i = index" (click)="removeItem(i)">

    <label>{{keyVal}}</label>

    <button (click)="removeItem(i)"> X </button>

  </li>

</ul>

<button class="btn btn-primary"> Submit Changes </button>
