<div class="foreground">
  <form>
    <button class="btn btn-primary" routerLink="/audio">Audio</button>
    <input type="text" id="selectAudio" name="selectAudio" placeholder="Audio name(s)"><br /><br />
    <button class="btn btn-primary" routerLink="/environment">Environment</button>
    <input type="text" id="selectEnvironment" name="selectEnvironment" placeholder="Environment name"><br /><br />
    <button class="btn btn-primary" routerLink="/profile">Profile Name</button>
    <input type="text" id="profileName" name="profileName" placeholder="Profile name"><br /><br />
    <table>
      <th class="leftalign"><button class="btn btn-primary" routerLink="/home-page">Delete</button></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th><button class="btn btn-primary" routerLink="/home-page">Save</button></th>
    </table>
  </form>
</div>
