<div>
  <form>
    <button class="btn btn-primary" routerLink="/audio">Audio</button>
    <input type="text" id="selectAudio" name="selectAudio" placeholder="Audio name(s)"><br />
    <button class="btn btn-primary" routerLink="/">Environment</button>
    <input type="text" id="selectEnvironment" name="selectEnvironment" placeholder="Environment"><br />
    <button class="btn btn-primary" routerLink="/">Profile Name</button>
    <input type="text" id="profileName" name="profileName" placeholder="Profile name"><br />
    <table>
      <th><button class="btn btn-primary" routerLink="/">Delete</button></th>

      <th><button class="btn btn-primary" routerLink="/">Save</button></th>
    </table>
  </form>
</div>
