/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #fff;
}

code {
  color: #e01a76;
}

.notButton {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.column {
  float: left;
  width: 50%;
  background: #00a7e2;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.leftalign{
    text-align: left;
}

.rightalign{
    text-align: right;
}
