<div class="foreground">
  <h2> Please enter an audio name:</h2>

  <input type="text" [(ngModel)]="inputTxtKey" placeholder="Audio Name">
  <button class="btn btn-primary" (click)="addToList()"> Upload </button>

  <ul style="list-style-type:none;">

    <li *ngFor="let keyVal of arrList; let i = index" (click)="removeItem(i)">

      <button class="btn-primary" (click)="removeItem(i)"> X </button>
      <label>{{keyVal}}</label>
      <button class="btn-primary" routerLink="/session-setup"> Change Session Setup </button>


    </li>

  </ul>

  <button class="btn btn-primary" routerLink="/profile"> Submit Changes </button>
</div>
