<img  src="assets/images/CallMiner-Logo.png" alt="Callminer Logo">
<h1>Welcome to the ERT Test UI</h1>
<p>Gone are the days of using an outdated CLI tool. Welcome to the future!</p>

<div>
  <form>
    <label for="username">Enter Username:</label>
    <input type="text" id="fname" name="fname"><br>
    <label for="passoword">Enter Password:</label>
    <input type="password" id="password" name="passowrd"><br>
    <button class="btn btn-primary" (click)="counter.component.html">Login</button>
  </form>
</div>
